@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}
body{
    color: white;
    background-color: #09001d;
    overflow: hidden;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    user-select: none;
    filter: drop-shadow(5px 15px 5px rgba(0,0,0,0.3));
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    position: relative;
}
.navbar a:hover{
    color: #c40094;
}
.navbar a:hover,
.navbar a.active{
    color: #c40094;
}
.navbar a::after{
    position: absolute;
    content: '';
    bottom:-6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: scalex(0);
    transition:transform.5s;
    z-index: 1;
}
.navbar a:hover::after{
    transform: scalex(1);
    transform-origin:right;
}
.main{
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: auto;
    transition: .3s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50%;
}
.home-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}
.home-content h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0.3);
}
.home-content p{
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(0,0,0.3);
    margin-bottom: 30px;
}
.start-btn{
    width: 190px;
    height: 55px;
    background-color: #c40094;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10 #c40094;
    font-size: 18px;
    color: white;
    letter-spacing: 1;
    font-weight: 600;
    cursor: pointer;
}
.start-btn:hover{
    background-color: #c40093bf;
    box-shadow: none;
}
.popup-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background-color: white;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.popup-info h2{
    font-size: 50px;
    color: #c40094;
}
.info{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}
.btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: #c40094;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0.1);
    cursor: pointer;
    transition: .5s;
}
.btn-group .info-btn:nth-child(1){
    background: transparent;
    color: #c40094;
}
.btn-group .info-btn:nth-child(1):hover{
    background-color: #c40094;
    color: white;
    box-shadow: none;
}
.btn-group .info-btn:nth-child(2):hover{
    background-color: rgb(38, 255, 0);
    border: none;
    color: rgb(27, 27, 27);
    box-shadow: none;
}
.container{
    width: 200%;
    height: 100vh;
    display: flex;
}
.quiz-section{
    width: 100%;
    background-color: #09001d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50%;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
}
.quiz-section.active{
    left: 0;
}
.quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}
.quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}
.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent,#c40094,transparent);
    border-radius: 6px;
}
.quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;
    margin-bottom: 30px;
}
.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}
.header-score{
    background-color: #c40094;
    padding: 7px;
    border-radius: 3px;
}
.question-text{
    font-size: 24px;
    font-weight: 600;
}
.option{
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(255,255,255,.2);
    font-size: 17px;
    border-radius: 3px;
    margin: 15px 0;
    cursor: pointer;
}
.option.correct{
    background: #09001d;
    color: #00a63d;
    border-color: #00a63d;
}
.option.disabled{
    pointer-events: none;
}
.option.incorrect{
    background: #09001d;
    color: #a60045;
    border-color: #a60045;
}
.option:hover{
    background-color: rgba(255,255,255,.2);
    border-color: rgba(255,255,255,.2);
}
.quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    padding-top: 20px;
    margin-top: 25px;
}
.questions-total{
    font-size: 16px;
    font-weight: 600;
}
.next-btn{
    width: 100px;
    height: 45px;
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255,255,255,.3);
    pointer-events: none;
    transition: .5s;
}
.next-btn.active:hover{
    background-color: #950170;
    border-color: #950170;
}
.next-btn.active{
    pointer-events: auto;
    background-color: #c40094;
    border-color: #c40094;
    color: white;
}
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.result-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.result-box h2{
    font-size: 52px;
}
.percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}
.circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#c40094 3.6deg,rgba(255,255,255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}
.score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}
.buttons button{
    width: 130px;
    height: 47px;
    background-color: #c40094;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}
.buttons button:nth-child(2){
    background: transparent;
    color: #c40094;
}
.buttons button:nth-child(2):hover{
    background-color: #c40094;
    color: white;
}
.buttons button:nth-child(1):hover{
    background-color: #950170;
    border-color: #950170;
}
.buttons{
    display: flex;
}
.circular-progress::before{
    position: absolute;
    content: '';
    width: 210px;
    height: 210px;
    background-color: #09001d;
    border-radius: 50%;
}
